// Global properties
$side-padding-desktop: 2em;
$side-padding-mobile: 1em;

.sections {
	max-width: 96em;
	margin: 0 auto;
	transition: .6s $transition-smooth;

	&.site-main {
		margin-top: 12em;
	}

	&.switching {
		transform: translateY(-3em);
		opacity: 0;

	}
}

.section {
	padding: 0 $side-padding-desktop;

	@media (max-width: $breakpoint-medium) {
		padding: 0 $side-padding-mobile;
	}

	// This will hide a given section with the fadeUp animation (see animations.scss)
	&.hide-section {
		animation: fadeUp 0.7s $transition-reveal forwards !important;
	}

	// This will show a given section with the reveal animation (see animations.scss)
	// This has higher priority than hide-section in case we're doing a transition from hide -> show
	&.show-section {
		animation: revealUp 0.7s $transition-reveal forwards !important;
	}

	&-welcome {
		min-height: 90vh;
		display: flex;
		align-items: center;

		@media (max-width: $breakpoint-medium) {
			margin-top: 20vh;
			min-height: 60vh; // Reduce the height a lil bit for all sorts of devices under $medium. The intent is to show a little bit of the next section content while being tidy
		}

		svg {
			width: 100%;
		}

		.section-aside {
			flex: 1;

			@media (max-width: $breakpoint-medium) {
				position: absolute;
				z-index: -1;
			}
		}

		.section-container {
			align-items: center;
		}
	}

	&-experience {
		padding: 5em $side-padding-desktop;

		@media (max-width: $breakpoint-medium) {
			padding: 2.5em $side-padding-mobile;
		}
	}

	&-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&-projects {
		width: 100%;
		padding: 5em $side-padding-desktop;

		@media (max-width: $breakpoint-medium) {
			padding: 2.5em $side-padding-mobile;
		}

		.headline-catch {
			margin-left: 0;
		}

		.section-container {
			display: block;
		}

		.section-title {
			max-width: 100%;
			text-align: center;

			@media (max-width: $breakpoint-medium) {
				text-align: left;
			}
		}
	}

	&-contact {
		width: 100%;

		.section-container {
			padding: 6em $side-padding-desktop;
			background: lighten($color-body, 2);

			@media (max-width: $breakpoint-medium) {
				padding: 3em $side-padding-mobile;
			}
		}

		.copy {
			max-width: 30em;
			margin: 0 auto;
		}

		.headline-catch {
			margin-left: 0;
		}

		.section-container {
			display: block;
		}

		.section-title {
			max-width: 100%;
			text-align: center;
		}

		.copy-chat-popup {
			opacity: 0;
			margin-left: 1em;
			transition: .2s $transition-smooth;
			position: absolute;

			&.is-visible {
				opacity: 1;
			}
		}

		.contact-group {
			margin: 3em 0;

		
		}

		.contact-copy {
			margin: 0 1em;

			a {
				color: #FFF;
			}
		}
		
	}

	&-aside {
		flex-basis: 680px;
	}

	&-title {
		max-width: 42em;

		span {
			color: $color-toxic
		}
	}
}