body {
	background: $color-body;
	color: $color-primary;

	&.load-reveal {
		.section {
			animation: loadSite 0.7s $transition-reveal forwards;
		}
	}
}

::-moz-selection {
	color: #000;
	background: $color-toxic;
}
  
::selection {
	color: #000;
	background: $color-toxic;
}